.cards-container{
    margin: 10px;
    display: flex;
    height: 40vh;
}

.letters-container{
    padding: 5px;
    padding-right: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(13,1fr);
    /* background-color: green; */
    /* gap: 5px; */
    width: 70%;
    height: 100%;
}

.break-line{
    background-color: black;
    height: 100%;
    width: 5px;
}

.nikud-container{
    padding: 5px;
    padding-right: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-color: red; */
    width: 30%;
    height: 100%;
}

.theWord{
    background-color: aqua;
    text-align: center;
    height: 10vh;
    font-size: 8vh;
}

.board-table{
    background-color: blue;
    height: 45vh;
}